/* الأوفرلاي عشان يغطي الصفحة */
.LogiModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogiModalContainer {
    width: 500px;
    min-height: 400px; 
    background-color: #fff;
    border: 1px solid #55a690;
    clip-path: 
    polygon(20px 0, 100% 0, 100% 
    calc(100% - 20px), calc(100% - 20px) 
    100%, 0 100%, 0 20px);
    display: flex;
    animation-name:zzo;
    animation-duration: 0.6s;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
@keyframes zzo {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.LogiHeader {
    height: 60px;
    background-color: #55a690;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.LogiHeader h3 {
    margin: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.LogiBtnClose {
    font-size: 30px;
    cursor: pointer;
}

.LogiBody {
    flex: 1;
    padding: 30px 40px;
}

.LogiRow {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding: 12px;
    background: #f8faf9;
    border-left: 3px solid #55a690;
}

.LogiIcon {
    color: #55a690;
    font-size: 1.2rem;
    margin-top: 3px;
}

.LogiRow label {
    display: block;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #718096;
    font-weight: 800;
}

.LogiRow p {
    margin: 0;
    font-size: 0.95rem;
    color: #2d3748;
}

.LogiActionStep {
    text-align: center;
    margin-top: 25px;
}

.LogiActionStep p {
    font-size: 0.85rem;
    color: #718096;
    margin-bottom: 15px;
}

.LogiBtnPrimary {
    background-color: #55a690;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
}

/* Courier Form */
.LogiFormTitle {
    color: #55a690;
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: center;
}

.LogiInputGroup {
    margin-bottom: 15px;
}

.LogiInputGroup label {
    display: block;
    font-size: 0.8rem;
    color: #4a5568;
    margin-bottom: 5px;
}

.LogiInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
}

.LogiBtnSubmit {
    width: 100%;
    background-color: #2d3748;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 10px;
    font-weight: 600;
    cursor: pointer;
}

.LogiFooter {
    background-color: #55a690!important; 
    padding: 15px 25px;
    background: #f8faf9;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #edf2f7;
}

.LogiBtnCancel {
    padding: 5px 15px;
    cursor: pointer;
}